<!DOCTYPE html>
@model ShopProject.Models.UsersModel

<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/picpic.jpg'); /* Specify the path to your background image */
        background-size: cover; /* Cover the entire viewport */
        background-position: center; /* Center the background image */
    }
    .top{
        text-align:center;
        color:orangered;
    }
</style>
<div class="top">
    <h1>Login succeed!</h1>
    <h1>welcome, :@Model.UserName,happy to see you again</h1>
    <a asp-controller="Products" asp-action="MyProducts" class="btn btn-primary">click here to see the products</a>
    <a asp-controller="Products" asp-action="Cart" class="btn btn-primary">click here to see Your Cart</a>
</div>
    


