<!DOCTYPE html>
@model ShopProject.Models.AccountModel

<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/picpic.jpg'); 
        background-size: cover; 
        background-position: center; 
    }
    .top{
        text-align:center;
        color:orangered;
    }
</style>
<div class="top">
    <h1>Login succeed!</h1>
    <h1>welcome, :@Model.UserName</h1>
    <a asp-controller="Products" asp-action="MyProducts" class="btn btn-primary">click here to see the products</a>
</div>
    


