@model ShopProject.Models.UsersModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('/picpic.jpg'); 
            background-size: cover;
            background-position: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
            .btn{
                margin-right:12px;
            }
        .container {
            width: 300px; 
            height: 300px; 
            text-align: center;
            padding: 20px;
            border-radius: 8px;

        }
        .admin-btn {
            width: calc(100% - 24px); 
            padding: 10px; 
            margin-top: 10px; 
            background-color: grey;
            color: white; 
            border: none;
            cursor: pointer;
        }
            
    </style>
</head>
<body>



    <div class="container">
        <form action="ShowDetails" method="post">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" id="username" name="UserName" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" required>
            <input type="hidden" id="isAdmin" name="IsAdmin" value="false">
            <input type="submit" value="Login">
            <h6></h6>
            <a asp-controller="Products" asp-action="MyProducts" class="btn btn-primary">enter as a guest</a>
            <a asp-controller="Login" asp-action="REG" class="btn btn-primary">Sign up!</a>
            <h6></h6>
            <button type="submit" name="AdminButton" value="true" onclick="document.getElementById('isAdmin').value = 'true';" class="btn btn-primary">Enter As a Admin!</button>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-message">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

        </form>
    </div>




    @*<div class="container">
            <form action="ShowDetails" method="post">
                <h2>Login</h2>
                <label for="username">Username</label>
                <input type="text" id="username" name="UserName" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" required>
                <input type="hidden" name="IsAdmin" value="false">
                <input type="submit" value="Login">
                <h6></h6>
                <a asp-controller="Products" asp-action="MyProducts" class="btn btn-primary">enter as a guest</a>
                <a asp-controller="Login" asp-action="REG" class="btn btn-primary">Sign up!</a>
                <h6></h6>
                <button type="submit" name="Admin" value="true" class="btn btn-primary">Enter As a Admin!</button>
            </form>
        </div>*@



    @*<div class="container">
            <form action="ShowDetails" method="post">
                <h2>Login</h2>
                <label for="username">Username</label>
                <input type="text" id="username" name="UserName" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" required>
                <input type="submit" value="Login">
                <h6></h6>
                <a asp-controller="Products" asp-action="MyProducts" class="btn btn-primary">enter as a guest</a>
                <a asp-controller="Login" asp-action="REG" class="btn btn-primary">Sign up!</a>
                <h6></h6>
                <a asp-controller="Home" asp-action="Admin" class="admin-btn">Enter As a Admin!</a>
            </form>
        </div>*@
</body>
</html>

