@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model List<ProductsModel>
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <link rel="stylesheet" href="~/css/HomePage.css"> 
</head>
<body>
    <div class="text-center">
        <h1 class="display-4 welcome-heading">Welcome to Our Shop</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Pets Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Products" asp-action="MyProducts">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            
                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Updates</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @{

                        List<ProductsModel> notifyList = JsonConvert.DeserializeObject<List<ProductsModel>>(HttpContextAccessor.HttpContext.Session.GetString("NotifyList"));
                    }

                    @if (notifyList != null)
                    {
                        foreach (ProductsModel p in notifyList)
                        {
                            <li><a class="dropdown-item" href="#!">The product "@p.ProductName" is back in stock</a></li>
                        }
                    }
                    else
                    {
                        
                    }
                        </ul>

                    </li>

                </ul>
                <form asp-controller="Products" asp-action="Cart" method="post" class="d-flex mr-2">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill"> </span>
                    </button>
                </form>

                <form asp-controller="Login" asp-action="Logout" method="post" class="d-flex ml-2">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-box-arrow-right me-1"></i>
                        LogOut
                    </button>
                </form>


            </div>
        </div>
    </nav>
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var col in Model.Select(obj => obj.Collection).Distinct().ToList())
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@col</h5>
                                    Collection
                                </div>
                            </div>
                            Product actions
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    @using (Html.BeginForm("ProductsCollection", "Products", FormMethod.Post))
                                    {
                                        <input name="collection" type="hidden" value="@col" />
                                        <button type="submit" class="btn btn-outline-dark mt-auto">View options</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    
    <script src="js/scripts.js"></script>
    <script>
        var notifyList = HttpContext.Session.GetObject<User>("NotifyList");
        function showAlert() {
            String message="the following products are back in stock again!:";
            for (var i in notifyList){
                message+=notifyList.
            }
            alert('Welcome to our website!');
            
        }

       
        window.onload = showAlert;

    </script>

</body>
</html>