<html>
    <body>
        <form action="MyProducts" method="post">
             <h1> Add your new product here!</h1><br />
            <label>Product name:</label>
        <input name="ProductName" required /><br />
            <label>Price:</label>
        <input name="Price" required /><br />
        <label>Collection:</label>
        <input name="Collection" required /><br />
        <label>Description:</label>
        <input name="Description" required /><br />
        <label>AgeLimit:</label>
        <input name="AgeLimit" /><br />
        <label>Discount:</label>
        <input name="Discount" /><br />
        <label>Stock:</label>
        <input name="Stock" /><br />
        <input type="submit" value="Create" />
        </form>
    </body>
</html>
