<head>
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>
    <div class="container">
        <h1>Confirm Your Details:</h1>
        <form action="CheckOut" method="post" ;>
            <div class="row mb-4">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form6Example1" class="form-control" name="FirstName" placeholder="First name" />
                    </div>
                </div>
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" id="form6Example2" class="form-control" name="LastName" placeholder="Last name" />
                    </div>
                </div>
            </div>

            <!-- Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="form6Example3" class="form-control" name="Age" placeholder="Age" />
            </div>

            <!-- Text input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="form6Example4" class="form-control" name="Address" placeholder="Address" />
            </div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form6Example5" class="form-control" name="Email" placeholder="Email" />
            </div>

            <!-- Number input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="number" id="form6Example6" class="form-control" name="Phone" placeholder="Phone" />
            </div>

            <!-- Message input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <textarea class="form-control" id="form6Example7" rows="4" name="AdditionalInfo" placeholder="Additional information"></textarea>
            </div>

            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
            <button type="button" class="btn btn-secondary btn-block" onclick="location.href='@Url.Action("Index", "Home")'">Back Home</button>
        </form>
    </div>
</body>

