
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="/css/custom.css" />
</head>
<body>
    <div class="container">
        <h1> product name:</h1>
               <form id="editProductForm" action="/Products/UpdateProduct" method="post">
            <div class="row mb-4">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" id="changePrice" class="form-control" name="ChangePrice" placeholder="Change Price" />
                    </div>
                </div>
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" id="changeStock" class="form-control" name="ChangeStock" placeholder="Change Stock" />
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Save Changes</button>
            <button type="button" class="btn btn-secondary btn-block" onclick="location.href='@Url.Action("Index", "Home")'">Back Home</button>
        </form>
    </div>
</body>
</html>
